.home-banner {
  width: 320px !important;
  height: 280 !important;
}

.font-size-64 {
  font-size: 64px;
}

.signup-btn {
  width: 100%;
  background-color: rgb(29, 155, 240) !important;
  border-radius: 20px !important;
}

.signin-btn {
  width: 100%;
  background-color: #fff !important;
  border-radius: 20px !important;
  color: rgb(29, 155, 240) !important;
  font-weight: 500 !important;
}

.signin-btn:hover {
  background-color: #e8f6f7 !important;
}

.auth-top-logo {
  width: 28px !important;
  height: 26px !important;
}

.sidebar-menu {
  font-size: 20px !important;
  margin-left: 10px !important;
  font-weight: 500;
  color: black;
}

.arrow-cursor {
  cursor: pointer;
}
.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.mli-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ft-20 {
  font-size: 20px;
  font-weight: bold;
}

.ft-13 {
  font-size: 13px;
}

.ft-14 {
  font-size: 14px;
}

.ft-15 {
  font-size: 15px;
}

.ft-16 {
  font-size: 16px;
}

.ft-18 {
  font-size: 18px;
}

.profile-info {
  font-size: 16px !important;
  margin-left: 10px !important;
  font-weight: 400;
  color: black;
}

.following-btn {
  width: 100%;
  background-color: #000 !important;
  border-radius: 20px !important;
  color: #fff;
  font-weight: 500 !important;
}
.following-btn:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.edit-profile-btn {
  width: 100%;
  background-color: #fff !important;
  border-radius: 20px !important;
  color: #000;
  font-weight: 500 !important;
}

.profile-link:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}
.like-icon:hover {
  border-color: 1px solid red;
}

.tweet-btn {
  width: 100%;
  border-radius: 20px !important;
  color: #fff !important;
  font-weight: 500 !important;
}
